@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

#dataviz,
#dataviz2 {
  font-family: "Nunito", sans-serif;
  position: relative;
}

.state-label {
  font-size: 10px;
  font-weight: bold;
  fill: black;
  text-anchor: middle;
}
.graph-tooltip {
  position: absolute;
  text-align: center;
  max-width: 400px;
  padding: 0.8rem;
  font: 14px sans-serif;
  font-weight: bold;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  user-select: none;
}

/* logo configs */
.bg-maisdef-logo {
  position: absolute;
  top: -750px;
  left: -210px;
  rotate: 11.34deg;
  width: 2000px;
  opacity: 0.1;
  pointer-events: none;
}

.maisdef-logo {
  width: 160px;
}

/* style constants */

:root {
  --black: #263238;
  --dark-grey: #4d4d4d;
  --gray-blue: #dde5ec;
  --bg-green: #135d66;
  --white: #ffffff;
  --button-green: #388e3b;
}

/* typography */
.section-title {
  font-family: "League Spartan", sans-serif;
  color: var(--black);
  font-size: 30px;
}

.section-subtitle {
  font-family: "League Spartan", sans-serif;
  color: var(--black);
  font-size: 22px;
}

.body-1 {
  font-family: "Nunito", sans-serif;
  color: var(--dark-grey);
  font-size: 18px;
}

.body-2 {
  font-family: "Nunito", sans-serif;
  color: var(--dark-grey);
  font-size: 16px;

  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-3 {
  font-family: "Nunito", sans-serif;
  color: var(--dark-grey);
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

/* layout */
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 56px 140px;
  position: relative;
  overflow: hidden;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.carousel-item-group {
  cursor: pointer;
  max-width: 186px;
}

.carousel-img {
  width: 185px;
  border: 2px solid var(--gray-blue);
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.round-borders-padding {
  width: fit-content;
  border-radius: 8px;
  padding: 12px 24px;
}

.reports-img {
  max-width: 600px;
}

.item-list-bg-grey {
  padding-left: 0px;
}

.item-list-bg-grey > li {
  list-style: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  /* background-color: var(--gray-blue); */
  /* border-radius: 8px; */
  padding: 6px 8px 12px 8px;
  margin-bottom: 12px;
}

.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  border-bottom-color: var(--button-green);
}

/* buttons */
.button {
  color: var(--white);
  background-color: var(--button-green);
  border: none;
  border-radius: 12px;
  padding: 16px 32px;
  cursor: pointer;
}

.button:hover {
  background-color: #2e7d32;
  transition: background-color 0.3s ease;
}

.button:active {
  background-color: #1b5e20;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
  transform: scale(0.95);
}

/* colors */
.white {
  color: var(--white) !important;
}

.bg-blue {
  background-color: var(--gray-blue);
}

.bg-green {
  background-color: var(--bg-green);
}

.prev-btn {
  left: -100px;
}

.next-btn {
  right: -100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--black);
  border-radius: 50%;
}

.carousel-control-prev-icon {
  background-size: 95%;
  background-position: left;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWxlZnQiPjxwYXRoIGQ9Im0xNSAxOC02LTYgNi02Ii8+PC9zdmc+);
}

.carousel-control-next-icon {
  background-size: 94%;
  background-position: right;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLXJpZ2h0Ij48cGF0aCBkPSJtOSAxOCA2LTYtNi02Ii8+PC9zdmc+);
}

.carousel-indicators {
  bottom: -40px;
}

.checklist-grid-item {
  padding: 12px 8px 0px 0px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 16px;
  height: 100%;
}

/* responsive */
@media (max-width: 375px) {
  .reports-img {
    width: 210px !important;
  }

  .prev-btn {
    left: -18px;
  }

  .next-btn {
    right: -18px;
  }
}

@media (max-width: 425px) and (min-width: 376px) {
  .reports-img {
    width: 255px !important;
  }

  .prev-btn {
    left: -25px;
  }

  .next-btn {
    right: -25px;
  }
}

@media (max-width: 768px) {
  .reports-img {
    max-width: 530px;
  }

  .maisdef-logo {
    width: 175px;
    margin-bottom: 45px;
  }

  .container {
    padding: 36px 24px;
  }

  .flex {
    flex-direction: column;
  }

  .align-end {
    align-items: center !important;
  }

  .mt-45 {
    margin-top: 30px !important;
  }

  .mt-70,
  .mt-90 {
    margin-top: 35px !important;
  }

  .gap-26 {
    gap: 16px;
  }

  .partners {
    width: 75%;
  }

  .prev-btn {
    left: -50px;
  }

  .next-btn {
    right: -50px;
  }
}

/* css helpers */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-26 {
  gap: 26px;
}

.overflow-auto {
  overflow: auto;
}

.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

.mt-25 {
  margin-top: 25px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-65 {
  margin-bottom: 65px;
}

.p-0 {
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.horizontal-tab-list {
  text-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.opacity-80 {
  opacity: 0.7;
}

.dashed-list {
  padding-left: 22px;
  list-style-type: "- ";
}

.underline {
  text-decoration: underline;
}

/* shape divider */

.custom-shape-divider-bottom-1736814489 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1736814489 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 34px;
}

.custom-shape-divider-bottom-1736814489 .shape-fill {
  fill: #dde5ec;
}
