body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

section {
  padding: 40px 2% 40px 2%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: #000;
  text-align: center !important;
}

th {
  background-color: #f2f2f2;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#dataviz {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}
.state-label {
  font-size: 10px;
  font-weight: bold;
  fill: black;
  text-anchor: middle;
}
.graph-tooltip {
  position: absolute;
  text-align: center;
  max-width: 400px;
  padding: 0.8rem;
  font: 14px sans-serif;
  font-weight: bold;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.maisdef-text-home h1 {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.maisdef-text-monitoring h2,
.maisdef-text-partners h2 {
  color: #4d4d4d;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

.maisdef-hamburguer-menu,
.maisdef-logo-small {
  display: none;
  pointer-events: none;
}

nav.navbar {
  display: none;
}

nav.maisdef-nav {
  padding-top: 100px;
}

.maisdef-dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item {
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.maisdef-nav ul {
  margin: 0;
}

.maisdef-open-drawer {
  background-color: transparent;
  border: none;
}

.green-color {
  color: #10624e !important;
  font-weight: bold !important;
}

.maisdef-nav ul li a,
.maisdef-nav ul li select {
  color: #18191f;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

i.material-icons {
  position: relative;
  top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.maisdef-logo {
  margin-left: 10%;
}

.maisdef-logo,
.maisdef-logo-small {
  width: 15%;
}

.maisdef-home-section,
.maisdef-nav {
  background-color: #fffaf2;
}

.maisdef-split-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 10%;
}

.maisdef-greenscale,
.maisdef-link {
  color: #135d66;
}

.maisdef-home {
  width: 100%;
}

.maisdef-text-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.maisdef-text-home p {
  color: #4d4d4d;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.maisdef-text-classification-dataviz {
  position: relative;
  margin-right: 2rem;
}

.maisdef-change-data-btn {
  position: absolute;
  border: 1px solid grey;
  border-radius: 99%;
  width: 40px;
  height: 40px;
  padding: 5px 0 0 3px;
  cursor: pointer;
  top: 50%;
  left: 20px;
}

.maisdef-home-content {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  gap: 15%;
}

.maisdef-home-content img {
  width: 100%;
}

.maisdef-green-section {
  padding-left: 0;
  padding-right: 0;
}

.maisdef-text-transparency-analisys {
  background-color: #135d66;
}

.maisdef-text-transparency-analisys div div p {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.maisdef-bar {
  height: 5px;
  width: 100%;
  background-color: #fbc02d;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

.maisdef-split-content {
  color: #fff;
}

.maisdef-text-transparency-analisys img {
  width: 50%;
}

.maisdef-saiba-mais {
  color: #fbc02d;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  max-width: 540px;
  text-indent: 2rem;
}

.maisdef-monitoring-text-block {
  display: flex;
  gap: 15%;
}

.maisdef-monitoring-text-block div {
  display: 1;
}

.maisdef-monitoring-text-block div p {
  color: #717171;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.maisdef-text-classification {
  display: flex;
  justify-content: space-evenly;
  gap: 15%;
  margin-top: 2rem;
}

.maisdef-text-classification-p :nth-child(1) {
  font-weight: bold;
}

.maisdef-text-classification-p :nth-child(2) {
  margin-top: 5rem;
  color: #003c43;
}

.maisdef-text-classification-p :nth-child(2) span {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #003c43;
  font-weight: bold;
}

.maisdef-relatorio-link {
  margin-top: 2rem;
  font-size: 12px;
  color: #717171;
}

.maisdef-relatorio-link a {
  color: #717171;
  text-decoration: underline;
}

.maisdef-chart_text {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.maisdef-avalidados {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 18px;
}

.maisdef-text-partners {
  display: flex;
  justify-content: space-around;
  margin: 0px 2rem 0px 2rem;
}

.maisdef-text-partners div {
  text-align: center;
}

.maisdef-text-partners p {
  color: #717171;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.maisdef-logo_section {
  margin-top: 2rem;
}

@media only screen and (max-width: 1024px) {
  .maisdef-logo,
  .maisdef-logo-small {
    width: 20%;
  }

  .maisdef-nav ul li a,
  .maisdef-nav ul li select {
    font-size: 16px;
  }

  nav.maisdef-nav {
    padding-top: 0;
  }

  .maisdef-text-home h1 {
    font-size: 48px;
    line-height: 40px;
  }

  .maisdef-text-home p,
  .maisdef-text-transparency-analisys div div p,
  .maisdef-saiba_mais,
  .maisdef-monitoring-text-block div p,
  .maisdef-text-partners p {
    font-size: 14px;
    line-height: 22px;
  }

  .maisdef-text-classification-dataviz {
    margin-right: 0;
  }

  .maisdef-home-content {
    margin-top: 0;
    display: block;
  }

  .maisdef-home-content p {
    padding-top: 0;
    margin-top: 2rem;
  }

  .maisdef-home-content img {
    padding-top: 1rem;
    width: fit-content;
  }

  .maisdef-home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
  }

  .maisdef-monitoring-text-block {
    gap: 10%;
  }

  .maisdef-text-classification-p :nth-child(3) {
    margin-top: 0;
    margin-bottom: 4rem;
  }

  .maisdef-text-classification {
    flex-direction: column;
  }

  .maisdef-text-classification-p :nth-child(2) {
    margin-top: 0;
  }

  .maisdef-text-partners {
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .maisdef-logo_section {
    margin-bottom: 4rem;
  }

  .maisdef-chart_text {
    font-size: 10px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding: 15px 2% 15px 2%;
  }

  ul {
    justify-content: space-between;
  }

  .maisdef-text-classification-p {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .maisdef-split-content {
    flex-direction: column-reverse;
    gap: 0%;
  }

  .maisdef-text-transparency-analisys img {
    width: min(100%, 200px);
  }

  .maisdef-home-content p {
    padding-top: 2rem;
    font-size: 18px;
  }

  .maisdef-logo {
    display: none;
  }

  nav.navbar {
    background-color: #fffaf2;
  }

  nav.navbar,
  .maisdef-logo-small {
    display: block;
  }

  .maisdef-logo-small {
    width: 30%;
  }

  .maisdef-change-data-btn > svg {
    width: 16px;
    height: 16px;
  }

  .maisdef-change-data-btn {
    width: 32px;
    height: 32px;
    padding: 1px 0 0 6px;
    cursor: pointer;
    top: 45%;
    left: 20px;
  }

  .maisdef-hamburguer-menu {
    cursor: pointer;
    display: block;
  }

  .maisdef-menu-icon {
    font-size: 30px;
  }

  .maisdef-nav-list li:nth-child(-n + 4) {
    display: none;
  }

  .maisdef-home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
  }

  .maisdef-home-content img {
    width: fit-content;
  }
}

@media only screen and (max-width: 550px) {
  #dataviz {
    justify-content: initial;
  }

  section {
    padding: 20px 5% 20px 5%;
    margin-top: 5%;
  }
  .maisdef-text-transparency-analisys h2,
  .maisdef-text-monitoring h2,
  .maisdef-text-partners h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .maisdef-home-section {
    margin-top: 0 !important;
  }

  .maisdef-text-home h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .maisdef-text-home p {
    padding-top: 2rem;
  }

  .maisdef-text-home {
    max-width: 100%;
  }

  .maisdef-monitoring-text-block {
    display: block;
  }

  .maisdef-split-content {
    flex-direction: column-reverse;
    gap: 0;
  }

  .maisdef-split-content img {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .maisdef-text-classification-p h2 {
    font-size: 22px;
  }

  .maisdef-text-ava {
    font-size: 18px !important;
  }

  .maisdef-text-classification h4 {
    font-size: 10px;
  }

  .maisdef-text-classification-header {
    font-size: 18px !important;
  }

  .maisdef-text-home p,
  .maisdef-text-transparency-analisys div div p,
  .maisdef-saiba_mais,
  .maisdef-monitoring-text-block div p,
  .maisdef-text-partners p {
    font-size: 14px;
    line-height: 20px;
  }

  .maisdef-chart_text {
    font-size: 8px;
    line-height: 12px;
  }

  .maisdef-logo_section {
    gap: 0%;
  }

  .maisdef-logo_section img {
    width: 50%;
  }

  .maisdef-saiba-mais {
    font-size: 14px;
  }

  .maisdef-logo,
  .maisdef-logo-small {
    width: 40%;
  }
}
