node_modules/
bower_components/
test/
logs/
tmp/
.tmp/
.DS_Store
src/.DS_Store
src/Controller/Admin/_GeraSenhaController.php
tmp/debug_kit.sqlite
logs/debug.log
webroot/uploads/
config/app.php
config/bootstrap.php
.editorconfig