@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-RegularItalic.eot');
    src: local('D Hanna Soft Regular Italic'), local('DHannaSoft-RegularItalic'),
        url('DHannaSoft-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-RegularItalic.woff2') format('woff2'),
        url('DHannaSoft-RegularItalic.woff') format('woff'),
        url('DHannaSoft-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-Thin.eot');
    src: local('D Hanna Soft Thin'), local('DHannaSoft-Thin'),
        url('DHannaSoft-Thin.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-Thin.woff2') format('woff2'),
        url('DHannaSoft-Thin.woff') format('woff'),
        url('DHannaSoft-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-LightItalic.eot');
    src: local('D Hanna Soft Light Italic'), local('DHannaSoft-LightItalic'),
        url('DHannaSoft-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-LightItalic.woff2') format('woff2'),
        url('DHannaSoft-LightItalic.woff') format('woff'),
        url('DHannaSoft-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-Light.eot');
    src: local('D Hanna Soft Light'), local('DHannaSoft-Light'),
        url('DHannaSoft-Light.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-Light.woff2') format('woff2'),
        url('DHannaSoft-Light.woff') format('woff'),
        url('DHannaSoft-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-SemiBoldItalic.eot');
    src: local('D Hanna Soft SemiBold Italic'), local('DHannaSoft-SemiBoldItalic'),
        url('DHannaSoft-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-SemiBoldItalic.woff2') format('woff2'),
        url('DHannaSoft-SemiBoldItalic.woff') format('woff'),
        url('DHannaSoft-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-BlackItalic.eot');
    src: local('D Hanna Soft Black Italic'), local('DHannaSoft-BlackItalic'),
        url('DHannaSoft-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-BlackItalic.woff2') format('woff2'),
        url('DHannaSoft-BlackItalic.woff') format('woff'),
        url('DHannaSoft-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-ExtraLight.eot');
    src: local('D Hanna Soft ExtraLight'), local('DHannaSoft-ExtraLight'),
        url('DHannaSoft-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-ExtraLight.woff2') format('woff2'),
        url('DHannaSoft-ExtraLight.woff') format('woff'),
        url('DHannaSoft-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-Black.eot');
    src: local('D Hanna Soft Black'), local('DHannaSoft-Black'),
        url('DHannaSoft-Black.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-Black.woff2') format('woff2'),
        url('DHannaSoft-Black.woff') format('woff'),
        url('DHannaSoft-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-Regular.eot');
    src: local('D Hanna Soft Regular'), local('DHannaSoft-Regular'),
        url('DHannaSoft-Regular.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-Regular.woff2') format('woff2'),
        url('DHannaSoft-Regular.woff') format('woff'),
        url('DHannaSoft-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D Hanna Soft Book';
    src: url('DHannaSoft-Book.eot');
    src: local('D Hanna Soft Book'), local('DHannaSoft-Book'),
        url('DHannaSoft-Book.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-Book.woff2') format('woff2'),
        url('DHannaSoft-Book.woff') format('woff'),
        url('DHannaSoft-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D Hanna Soft UltraBlack';
    src: url('DHannaSoft-UltraBlack.eot');
    src: local('D Hanna Soft UltraBlack'), local('DHannaSoft-UltraBlack'),
        url('DHannaSoft-UltraBlack.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-UltraBlack.woff2') format('woff2'),
        url('DHannaSoft-UltraBlack.woff') format('woff'),
        url('DHannaSoft-UltraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-ExtraLightItalic.eot');
    src: local('D Hanna Soft ExtraLight Italic'), local('DHannaSoft-ExtraLightItalic'),
        url('DHannaSoft-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-ExtraLightItalic.woff2') format('woff2'),
        url('DHannaSoft-ExtraLightItalic.woff') format('woff'),
        url('DHannaSoft-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-SemiBold.eot');
    src: local('D Hanna Soft SemiBold'), local('DHannaSoft-SemiBold'),
        url('DHannaSoft-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-SemiBold.woff2') format('woff2'),
        url('DHannaSoft-SemiBold.woff') format('woff'),
        url('DHannaSoft-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'D Hanna Soft UltraBlack';
    src: url('DHannaSoft-UltraBlackItalic.eot');
    src: local('D Hanna Soft UltraBlack Italic'), local('DHannaSoft-UltraBlackItalic'),
        url('DHannaSoft-UltraBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-UltraBlackItalic.woff2') format('woff2'),
        url('DHannaSoft-UltraBlackItalic.woff') format('woff'),
        url('DHannaSoft-UltraBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-BoldItalic.eot');
    src: local('D Hanna Soft Bold Italic'), local('DHannaSoft-BoldItalic'),
        url('DHannaSoft-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-BoldItalic.woff2') format('woff2'),
        url('DHannaSoft-BoldItalic.woff') format('woff'),
        url('DHannaSoft-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-Bold.eot');
    src: local('D Hanna Soft Bold'), local('DHannaSoft-Bold'),
        url('DHannaSoft-Bold.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-Bold.woff2') format('woff2'),
        url('DHannaSoft-Bold.woff') format('woff'),
        url('DHannaSoft-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'D Hanna Soft';
    src: url('DHannaSoft-ThinItalic.eot');
    src: local('D Hanna Soft Thin Italic'), local('DHannaSoft-ThinItalic'),
        url('DHannaSoft-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-ThinItalic.woff2') format('woff2'),
        url('DHannaSoft-ThinItalic.woff') format('woff'),
        url('DHannaSoft-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'D Hanna Soft Book';
    src: url('DHannaSoft-BookItalic.eot');
    src: local('D Hanna Soft Book Italic'), local('DHannaSoft-BookItalic'),
        url('DHannaSoft-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('DHannaSoft-BookItalic.woff2') format('woff2'),
        url('DHannaSoft-BookItalic.woff') format('woff'),
        url('DHannaSoft-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

