<IfModule mod_rewrite.c>
    RewriteEngine On
    Redirect /minhaescolacheck https://www.subscribepage.com/minhaescolacheeeck 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    php_value upload_max_filesize 20M
    php_value post_max_size 60M
    php_value max_execution_time 360
    php_value max_input_time 360
</IfModule>
